
  body{
      color: var(--primary-text-color);
  background-color: var(--second-text-color);
  font-size: 14px;
  margin: 0;
  }
  


  .rama-images{
    color: white;
    font-family: Roboto;
    width: 156px;
    height: 16px;
    
  }
  

  
  /*Last section*/
  .last-section{
      padding-top: 94px;
      padding-bottom: 94px;
  }
  .last-section-title{
      color: var(--title-text-color);
      text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
  }
  .last-section-list{
      display: flex;
  }
  .last-section-item:not(:last-child){
  padding-right: 30px;
  }
  .last-section-div{
      border: 1px solid var(--border-color);
      width: 170px;
  height: 92px;
  border-radius: 4px;
  }
  /*Footer*/
  .footer{
      background-color: var(--secondary-background-color);
      padding-top: 94px;
      padding-bottom: 60px;
      display: flex;
  }
  .footer-dates{
      display: flex;
      flex-direction: column;
  }
  .logo-white{
      color: var(--second-text-color);
  }
  .address-div{
      display: flex;
      flex-direction: column;
  }
  .address-text{
      color: var(--second-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
  
  }
  .footer-email{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  
  }
  .footer-tel{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  }
  
  .footer-div{
      margin-left: 70px;
      display: flex;
      flex-direction: column;
  }
  .footer-title{
      color: var(--second-text-color);
      font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  }
  .footer-list{
      display: flex;
      padding-top: 32px;
  }
/*Logotype*/
.header-logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.logo-blue{
    color: var(--background-button-color);
}

.header-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    
}
.header-list-item:not(:last-child){
    margin-right: 50px;
}
.header-list:hover{
    color: var(--background-button-color);
}

.header-link-one{
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: var(--background-button-color);
}
.header-link{
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
    
}
/*Contacts*/
.contacts-list{
    display: flex;
    
}
.contacts-list-item{
    display: flex;
}
.img-email{
    padding-right: 10px;
}
.email{
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}
.telephone{
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
margin-left: 50px;
}

/*Кнопка "Усі"*/
.button-one{
   background: var(--background-button-color);
   color: var(--second-text-color);
   border-radius: 4px;
   border: none;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding: 6px 25px;
cursor: pointer;

}
/*Інші кнопки*/
.button-list{
    padding-bottom: 50px;
    padding-top: 94px;
    padding-left: 300px;
    display: flex;
}
.button-list-item{
    padding: 8px;
    
}
.button{
    border-radius: 4px;
background-color: var(--background-team-color);
color: var(--button-color);
border: none;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding: 8px;
cursor: pointer;
}
.button:hover{
    background-color: var(--background-button-color);
    color: var(--second-text-color);
}
/*Картинки*/



.block-img{
    width: 100%;
}
/*Заголовки карток*/

/*Текст карток*/










 