.post{
    background-image: url(./../images/bg.png); 
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
   .post__title{
       color: $second-text-color;
       text-align: center;
   font-family: 'Roboto';
   font-size: 26px;
   font-style: normal;
   font-weight: 900;
   line-height: 162%; 
   letter-spacing: 0.06px;
   text-transform: uppercase;
   margin: 0 auto;
   }
   .post__button{
       color: $second-text-color;
       background: $background-button-color;
       cursor: pointer;
       font-size: 16px;
       font-weight: 700;
       line-height: 30px;
       letter-spacing: 0.96px;
       border-radius: 4px;
       border: none;
       padding: 10px 32px;
       margin: 0 auto;
       text-align: center;
       font-family: 'Roboto';
       display: flex;
       align-items: center;
       margin-top: 30px;
   }
   @media screen and (min-widht: 1200px){
    .post{
padding-top: 200px;
padding-bottom: 200px;
    }
    .post__title{
        font-size: 44px;
    }
   }
   